# installing ansible via apt results in python 3.7 whacking version 3.8 from the base image. Install it via pip instead
# along with whatever deps it needs
Jinja2==3.1.4
MarkupSafe==2.1.5
PyYAML==6.0.1
ansible-core==2.13.13
ansible==6.7.0
astroid==3.2.3
awscli==1.31.12
boto3==1.33.12
botocore==1.33.12
cffi==1.16.0
colorama==0.4.4
cryptography==42.0.8
dill==0.3.8
docutils==0.16
isort==5.13.2
jmespath==1.0.1
mccabe==0.7.0
packaging==24.1
PyYAML==6.0.1
platformdirs==4.2.2
pyasn1==0.6.0
pycparser==2.22
pylint==3.2.5
python-dateutil==2.9.0.post0
requests==2.32.3
resolvelib==0.8.1
rsa==4.7.2
s3transfer==0.8.2
six==1.16.0
slack-sdk==3.26.1
tomli==2.0.1
tomlkit==0.13.0
typing_extensions==4.12.2
urllib3==1.26.18
